/* Doric-Earth */
* {
    background:     #f0eddf; /* bg_main */
    background-alt: #dfd8c8; /* bg_dim */
    foreground:     #000000; /* fg_main */
    selected:       #c09fa0; /* bg_mode_line */
    selected-fg:    #000000; /* fg_mode_line */
    active:         #056100; /* g_green */
    urgent:         #750000; /* red */
}
