/* Doric-Wind */
* {
    background:     #e8f0e9; /* bg_main */
    background-alt: #d3dbd9; /* bg_dim */
    foreground:     #000f0f; /* fg_main */
    selected:       #94c2bf; /* bg_mode_line */
    selected-fg:    #000f0f; /* fg_mode_line */
    active:         #006500; /* g_green */
    urgent:         #750000; /* red */
}
