/* Doric-Fire */
* {
    background:     #2a281d; /* bg_main */
    background-alt: #45372f; /* bg_dim */
    foreground:     #f0e5e0; /* fg_main */
    selected:       #742d33; /* bg_mode_line */
    selected-fg:    #f0e5e0; /* fg_mode_line */
    active:         #85c397; /* g_green */
    urgent:         #d09090; /* red */
}
