/* Ef-Bio */
* {
    background:     #111111; /* bg_main */
    background-alt: #222522; /* bg_dim */
    foreground:     #cfdfd5; /* fg_main */
    selected:       #00552f; /* bg_mode_line */
    selected-fg:    #d0ffe0; /* fg_mode_line */
    active:         #3fb83f; /* g_green */
    urgent:         #ef6560; /* red */
}
