/* Ef-Cherie */
* {
    background:     #190a0f; /* bg_main */
    background-alt: #291f26; /* bg_dim */
    foreground:     #d3cfcf; /* fg_main */
    selected:       #771a4f; /* bg_mode_line */
    selected-fg:    #ffcfdf; /* fg_mode_line */
    active:         #60b444; /* g_green */
    urgent:         #ff7359; /* red */
}
