/* Ef-Dark */
* {
    background:     #000000; /* bg_main */
    background-alt: #1a1a1a; /* bg_dim */
    foreground:     #d0d0d0; /* fg_main */
    selected:       #2a2a75; /* bg_mode_line */
    selected-fg:    #e0e0ff; /* fg_mode_line */
    active:         #0faa26; /* g_green */
    urgent:         #ef6560; /* red */
}
