/* Modus-Vivendi */
* {
    background:     #000000; /* bg_main */
    background-alt: #1e1e1e; /* bg_dim */
    foreground:     #ffffff; /* fg_main */
    selected:       #505050; /* bg_mode_line */
    selected-fg:    #ffffff; /* fg_mode_line */
    active:         #44bc44; /* g_green */
    urgent:         #ff5f59; /* red */
}
